:root {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #9c9c9c;
}

body {
    background-color: #0d0d11;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.pages {
    flex: 1 1 auto;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    font-weight: 500;
    color: #fff;
    padding: 19px 30px;
    white-space: nowrap;
    font-size: 0.77rem; /* 14/18 */
    letter-spacing: 2px;
    border-radius: 50px;
    transition: background-color 0.2s ease 0s;
    background-color: #3d96f4;
    &:hover {
        background-color: #65afff;
    }
}

.button-title {
    font-weight: 300;
    font-size: 10.8px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 11px 19px;
    border: 1px solid rgba(129, 129, 139, 0.2);
    border-radius: 12px;
    @include adaptiv-value("line-height", 17, 10, 1);
    &_marketing {
        @include adaptiv-value("margin-bottom", 43, 30, 1);
    }
}
