* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #9c9c9c;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 15px;
}
