.marketing {
    @include adaptiv-value("padding-top", 100, 50, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
    &-block {
        display: flex;
        @include adaptiv-value("column-gap", 64, 32, 1);
        @media (max-width: 1060px) {
            @include flex($fd: column, $ai: center);
        }
    }
}

.marketing-img {
    position: relative;
    display: flex;
    align-items: flex-end;
    max-width: 608px;
    @include adaptiv-value("height", 785.59, 400, 1);
    @media (max-width: 1060px) {
        order: 2;
        margin-top: 20px;
    }
    &__main {
        position: relative;
        z-index: 1;
        height: 100%;
        & img {
            object-fit: cover;
            @include adaptiv-value("width", 423, 161, 1);
            height: 100%;
            border-radius: 378px 0px 378px 378px;
        }
    }
    &__little {
        @include adaptiv-value("height", 181.44, 109, 1);
        & img {
            height: 100%;
            border-radius: 181.438px 181.438px 181.438px 0px;
        }
    }
    &__points {
        position: absolute;
        left: -3%;
        right: 74.18%;
        @include adaptiv-value("top", 663.59, 325.59, 1);
        @include adaptiv-value("max-width", 122, 76, 1);
        @include adaptiv-value("max-height", 122, 76, 1);
        & img {
            height: 100%;
            width: 100%;
        }
    }
}

.marketing-about {
    padding-top: 90px;
    font-style: normal;
    @media (max-width: 1060px) {
        padding-top: 0;
    }
    &__title {
        color: $colorTitle;
        font-weight: 500;
        @include adaptiv-value("margin-bottom", 40, 20, 1);
        @include adaptiv-value("line-height", 61, 20, 1);
        @include adaptiv-value("font-size", 51.2, 21, 1);
    }
    &__descr {
        @include adaptiv-value("margin-bottom", 35, 20, 1);
        @include adaptiv-value("line-height", 27, 17, 1);
        @include adaptiv-value("font-size", 18, 14, 1);
    }

}

.preference-item {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    &:last-child {
        margin-bottom: 0;
    }
    &__text {
        line-height: 24px;
        @include adaptiv-value("font-size", 16, 14, 1);
    }
}

.preference-circle {
    border-radius: 32px;
    background: rgba(129, 129, 139, 0.1);
    @include flex;
    margin-right: 10px;
    @include adaptiv-value("height", 32, 24, 1);
    @include adaptiv-value("width", 32, 24, 1);
}