.blog {
    padding-top: 300px;
    &__header {
        margin-bottom: 40px;
        color: white;
        font-weight: 500;
        font-size: 51.2px;
        line-height: 61px;
    }
    &__descr {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        width: 736px;
    }
}