.blog {
    padding-top: 300px;
    &__header {
        color: white;
        font-weight: 500;
        font-size: 51.2px;
        line-height: 61px;
    }
    &__descr {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        display: flex;
        width: 736px;
    }
    &__button-posts {
        background-color: #3D96F4;
        border-radius: 50px;
        padding: 16px 25px;
        color: white;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 2px;
        height: 52px;
        width: 160px;
        position: relative;
        left: 1119px;
    }
}